---
// CSS
import '../css/color.css';
import '../css/global.css'
import "../css/style.css";
import "../css/id.css";
import "../css/gallery.css";
import "../css/desktop.css";
import "../css/mobile.css";

//Components
import Footer from "../components/footer.astro";
import Head from "../components/header.astro";
---

<!doctype html>
<html lang="en" class="no-js">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Trains of Ruegen</title>
	</head>
	<body>
		<Head />
		<main>
			<div class="announcement">
				<h3 class="center">Information on taking pictures from trains</h3>
				<div class="center">
					for more details look at
				</div>
				<div class="center">
					<a href="https://www.deutschebahn.com/resource/blob/1304188/55be4366e9cc7ffdb3df2b511fd18605/Informationen-fuer-Hobbyfotografen-und-filmer-data.pdf"> DB - only in german</a>.
				</div>
				<div class="center">
					The most important Informations are: <br>
					If you make pictures from trains, do not use these for commercial activities.
					Do not enter the track-area.
					Do not use Auxiliary means/Tools such as light resources, ladders, Drones, round throw Cameras and other stuff that iritating people.
					Do not cause delay, and let the emergency ways free.
					Understand the law of personal picture, from the train drivers.
					
				</div>
			</div>
			<div class="items">
				<div class="container">
					<div class="br">BR 52</div>
					<img src="x" alt="x" class="img">
						<div class="tag">
							Steam, Historic, Special, Electric, Electric-Diesel, Diesel
						</div>
						<div class="type">
							Train, Station
						</div>
					<div class="desc">
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque obcaecati quidem hic fugit sed quasi ratione consequatur tempora molestiae iste.
					</div>
				</div>
				<div class="container">
					<div class="br">BR 200</div>
					<img src="x" alt="x" class="img">
						<div class="tag">
							Steam
						</div>
						<div class="type">
							Train, Station
						</div>
					<div class="desc">
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius ab, cupiditate aliquid molestias maxime dolores similique nobis nesciunt laborum mollitia laudantium, non laboriosam, corporis praesentium voluptatum minima dicta accusantium neque.
					</div>
				</div>
				<div class="container">
					<div class="br">BR 52</div>
					<img src="x" alt="x" class="img">
						<div class="tag">
							Electric, Electric-Diesel, Diesel
						</div>
						<div class="type">
							Train, Station
						</div>
					<div class="desc">
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque obcaecati quidem hic fugit sed quasi ratione consequatur tempora molestiae iste.
					</div>
				</div>
				<div class="container">
					<div class="br">BR 52</div>
					<img src="x" alt="x" class="img">
						<div class="tag">
							Steam, Historic, Special, Electric, Electric-Diesel, Diesel
						</div>
						<div class="type">
							Train, Station
						</div>
					<div class="desc">
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque obcaecati quidem hic fugit sed quasi ratione consequatur tempora molestiae iste.
					</div>
				</div>
				<div class="container">
					<div class="br">BR 200</div>
					<img src="x" alt="x" class="img">
						<div class="tag">
							Steam
						</div>
						<div class="type">
							Train, Station
						</div>
					<div class="desc">
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius ab, cupiditate aliquid molestias maxime dolores similique nobis nesciunt laborum mollitia laudantium, non laboriosam, corporis praesentium voluptatum minima dicta accusantium neque.
					</div>
				</div>
				<div class="container">
					<div class="br">BR 52</div>
					<img src="x" alt="x" class="img">
						<div class="tag">
							Electric, Electric-Diesel, Diesel
						</div>
						<div class="type">
							Train, Station
						</div>
					<div class="desc">
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque obcaecati quidem hic fugit sed quasi ratione consequatur tempora molestiae iste.
					</div>
				</div>
				<div class="container">
					<div class="br">BR 52</div>
					<img src="x" alt="x" class="img">
						<div class="tag">
							Steam, Historic, Special, Electric, Electric-Diesel, Diesel
						</div>
						<div class="type">
							Train, Station
						</div>
					<div class="desc">
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque obcaecati quidem hic fugit sed quasi ratione consequatur tempora molestiae iste.
					</div>
				</div>
				<div class="container">
					<div class="br">BR 200</div>
					<img src="x" alt="x" class="img">
						<div class="tag">
							Steam
						</div>
						<div class="type">
							Train, Station
						</div>
					<div class="desc">
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius ab, cupiditate aliquid molestias maxime dolores similique nobis nesciunt laborum mollitia laudantium, non laboriosam, corporis praesentium voluptatum minima dicta accusantium neque.
					</div>
				</div>
				<div class="container">
					<div class="br">BR 52</div>
					<img src="x" alt="x" class="img">
						<div class="tag">
							Electric, Electric-Diesel, Diesel
						</div>
						<div class="type">
							Train, Station
						</div>
					<div class="desc">
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque obcaecati quidem hic fugit sed quasi ratione consequatur tempora molestiae iste.
					</div>
				</div>
				<div class="container">
					<div class="br">BR 52</div>
					<img src="x" alt="x" class="img">
						<div class="tag">
							Steam, Historic, Special, Electric, Electric-Diesel, Diesel
						</div>
						<div class="type">
							Train, Station
						</div>
					<div class="desc">
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque obcaecati quidem hic fugit sed quasi ratione consequatur tempora molestiae iste.
					</div>
				</div>
				<div class="container">
					<div class="br">BR 200</div>
					<img src="x" alt="x" class="img">
						<div class="tag">
							Steam
						</div>
						<div class="type">
							Train, Station
						</div>
					<div class="desc">
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius ab, cupiditate aliquid molestias maxime dolores similique nobis nesciunt laborum mollitia laudantium, non laboriosam, corporis praesentium voluptatum minima dicta accusantium neque.
					</div>
				</div>
				<div class="container">
					<div class="br">BR 52</div>
					<img src="x" alt="x" class="img">
						<div class="tag">
							Electric, Electric-Diesel, Diesel
						</div>
						<div class="type">
							Train, Station
						</div>
					<div class="desc">
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque obcaecati quidem hic fugit sed quasi ratione consequatur tempora molestiae iste.
					</div>
				</div>
				<div class="container">
					<div class="br">BR 52</div>
					<img src="x" alt="x" class="img">
						<div class="tag">
							Steam, Historic, Special, Electric, Electric-Diesel, Diesel
						</div>
						<div class="type">
							Train, Station
						</div>
					<div class="desc">
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque obcaecati quidem hic fugit sed quasi ratione consequatur tempora molestiae iste.
					</div>
				</div>
			</div>
			<Footer />
		</main>
	</body>
</html>