---
// Component Imports
import '../styles/global.css';
import Gallery from '../components/gallery.astro';
import Info from '../components/info.astro';
---

<!doctype html>
<html lang="en" class="no-js">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Trains of Ruegen</title>
	</head>
	<body>
		<main>
			<nav
			style="
  				position: fixed;
  				top: 0;
  				right: 0;
  				margin: 0;
  				display: flex;
  				justify-content: center;
  				align-items: center;
  				width: 150px;   /* Beispielbreite */
  				height: 60px;   /* Beispielhöhe */
  				text-align: center;
  				">
				<a href="#p1">Info</a>
				<a href="#p2">Gallery</a>
			</nav>
			<h1 class="center" id="p1">Info</h1>
			<Info />
			<h1 class="center" id="p2">Gallery</h1>
			<Gallery />
			<div id="copyright" class="center">
				&copy; 2024 - 2025 EMA Gymnasium, Bergen on Ruegen - All Rights Reserved.
			</div>
		</main>
	</body>
</html>
