---
import '../styles/global.css';
---

<nav class="">
  <a href="#9" class="re9">RE9</a>
  <a href="#27" class="re27">RE27</a>
  <a href="#z" class="zugebringer">Zu|g|ebringer</a>
  <a href="#P" class="roland">Racing Roland</a>
</nav>
