/*
Design from the cards | Desktop
*/
.items {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
	gap: 15px;
	padding: 15px;
}

.items div {
	background-color: var(--item-background);
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	padding: 15px;
}

.items .container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
        "br br"
        "image image"
        "tag type"
        "desc desc";
    gap: 0.5rem;
}

.items .br {
    grid-area: br;
    font-size: 1.5rem;
	font-weight: bold;
	margin-bottom: 10px;
	color: var(--dark-highlight);
    background-color: var(--item-light-background);
}

.items .img {
    grid-area: image;
    width: 100%;
    height: auto;
}

.items .tag,
.items .type {
    margin: 0;
}

.items .type {
    grid-area: type;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    background-color: var(--item-light-background);
}

.items .tag {
    grid-area: tag;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    color: var(--light-text-color);
    background-color: var(--item-light-background);
}

.items .desc {
    grid-area: desc;
    font-size: 1rem;
	color: var(--text-color);
    background-color: var(--item-light-background);
	line-height: 1.6;
}