#table-of-contents {
	background-color: var(--dark-highlight);
	display: flex;
	justify-content: center;
	padding: 1%;
	border-radius: 5px;
	margin: 2%;
	text-decoration: none;
}

#table-of-contents a {
	background: none;
	border: none;
	font-size: 16px;
	margin: 0 10px;
	cursor: pointer;
	color: black;
	position: relative;
}
